@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans:400,700,800&display=swap');

body {
	overflow-x: hidden;
	font-family: "Open Sans"
}

p {
	line-height: 1.75;
}

a {
	color: #000;
}

a:hover {
	color: #fec503;
	text-decoration: none;
}

.text-primary {
	color: #fed136 !important;
}

.hidden {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	/* font-weight: 700; */
	font-family: 'Open Sans Extra bold';
}



.page-section {
	padding: 80px 0;
	background-image: url("../img/bgwood.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.page-section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}

.page-section h3.section-subheading {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.bg-tap {
	min-height: 550px;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.tap-info {
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 700;
}




::-moz-selection {
	background: #fed136;
	text-shadow: none;
}

::selection {
	background: #fed136;
	text-shadow: none;
}

img::-moz-selection {
	background: transparent;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

.btn {
	border-radius: 0% !important;
	font-family: "Anton";
	font-size: 20px;
}

.btn-primary {
	background-color: #fed136;
	border-color: #fed136;
	color: black;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #fec810 !important;
	border-color: #fec810 !important;
	color: black;
}

.btn-primary:active, .btn-primary:focus {
	box-shadow: 0 0 0 0.2 rem rgba(254, 209, 55, 0.5) !important;
}

#mainNav {
	background-color: #000;
}

#videotap {	
	margin-top: 60px;
	width: 100%;
}
#mainNav .navbar-toggler {
	font-size: 2em;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: #fed136;
	border: 0;
	background-color: #000;
	font-family: 'Anton';
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 20px;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: white;
	font-family: 'Anton';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136;
}

.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-brand {
	position: relative;
	display: block;
	font-size: 1em;
	color: white;
	font-family: 'Anton';
}

.navbar-brand img {
	height: 70px;
}
#navbarResponsive {
	padding-top: 0px;
}

header.masthead {
	text-align: center;
	color: white;
	background-image: url("../img/local/local.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

header.masthead .intro-text {
	padding-top: 150px;
}

header.masthead .intro-text .intro-lead-in {
	font-size: 22px;
	font-style: italic;
	line-height: 22px;
	margin-bottom: 25px;
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 25px;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.masthead.video {
	background-image: none !important;
}
.masthead.video .intro-text {

	position: absolute;
	z-index: 2;
	bottom: 20%;
	width: 100%;
}

.masthead.video .intro-text {
	padding: 0;
}
.masthead.video .pad-bot {
	padding: 0;
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	font-size: 20px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
	max-width: 400px;
	margin: 0 auto;
	padding: 25px;
	text-align: center;
	background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
	margin: 0;
	text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
	z-index: 2;
}

.portfolio-modal .modal-dialog {
	margin: 1rem;
	max-width: 100vw;
}

.portfolio-modal .modal-content {
	padding: 100px 0;
	text-align: center;
}

.portfolio-modal .modal-content h2 {
	font-size: 3em;
	margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
	font-size: 16px;
	font-style: italic;
	margin: 20px 0 30px;
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
	cursor: pointer;
}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}

.portfolio-modal .close-modal:hover {
	opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
	/* Safari and Chrome */
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	/* IE 9 */
	transform: rotate(45deg);
	background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
	/* Safari and Chrome */
	z-index: 1052;
	width: 1px;
	height: 75px;
	/* IE 9 */
	transform: rotate(90deg);
	background-color: #212529;
}

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

.timeline:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	content: '';
	background-color: #e9ecef;
}

.timeline > li {
	position: relative;
	min-height: 50px;
	margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
	display: table;
	content: ' ';
}

.timeline > li:after {
	clear: both;
}

.timeline > li .timeline-panel {
	position: relative;
	float: right;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline > li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline > li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline > li .timeline-image {
	position: absolute;
	z-index: 100;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #fed136;
}

.timeline > li .timeline-image h4 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline > li:last-child {
	margin-bottom: 0;
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}

.timeline .timeline-heading h4.subheading {
	text-transform: none;
}

.timeline .timeline-body > ul, .timeline .timeline-body > p {
	margin-bottom: 0;
}

.footer {
	padding: 25px 0;
	text-align: center;
}

.footer span.copyright {
	font-size: 90%;
	line-height: 40px;
	text-transform: none;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
	font-size: 90%;
	line-height: 40px;
	margin-bottom: 0;
	text-transform: none;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 50px;
	display: block;
	width: 50px;
	height: 50px;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	background-color: #fed136;
}

.container {
	max-width: 935px !important;
}
.container-nav {
	max-width: 100% !important;
}
.portfolio-item {
	margin-top: 25px !important;
}

footer a:hover {
	text-decoration: none;
}

.fs-12 {
	/* font-size: 14px; */
	font-size: 23px;
	line-height: 1.3 !important;
}
.fs-19 {
	font-size: 19px;
	font-family: 'Anton';
	color: #afafaf;
}
.fs-15 {
	font-size: 1.4em;
	font-family: 'Anton';
}
.tap_station-logo {
	height: 170px !important;
}

.bottom-border {
	border-bottom: 3px solid #fec503;
}

.top-buffer {
	margin-top: 30px;
}

.footer {
	background-color: black;
}

.footer img {
	height: 100px;
}

.c-white {
	color: white;
}



@media (min-width: 1025px) {
	.slick-prev{
		float: left;
		margin-top: 25%;
		display: block
	}
	.slick-next{
		float: right;
		margin-top: -19%;
		display: block;
	}
	.portfolio-modal{
		width: 50%;
		left: 25%;
	}
	#mainNav {
		padding-top: 25px;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: black;
	}
	#navbarResponsive {
		padding-top: 57px;
		z-index: 9999;
	}
	#mainNav .navbar-brand {
		position: absolute;
		font-size: 2.3em;
		transition: all 0.3s;
		left: 50%;
		margin-left: -42px !important; /* 50% of your logo width */
		padding-bottom: 85px;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}
	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: black;
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
		left: 15%;
	}
	#mainNav.navbar-shrink #navbarResponsive {
		padding-top: 0px;
	}
	.navbar-expand-lg > .container-nav {
		flex-wrap: wrap !important;
	}

	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}

@media (min-width: 1200px) {
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
}

@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}

@media (min-width: 768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		min-height: 100px;
		margin-bottom: 100px;
	}
	.timeline > li .timeline-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 13px;
		line-height: 18px;
		margin-top: 16px;
	}

	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}

	header.masthead .intro-text {
		padding-top: 700px;
	}
	header.masthead .intro-text .intro-lead-in {
		font-size: 40px;
		font-style: italic;
		line-height: 40px;
		margin-bottom: 25px;
		font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
	header.masthead .intro-text .intro-heading {
		font-size: 75px;
		font-weight: 700;
		line-height: 75px;
		margin-bottom: 50px;
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}

	section {
		padding: 150px 0;
	}

}

/*
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
 */

@media (min-width: 1281px) {
	.hide-desktop {
		display: none;
		visibility: hidden;
	}

}

/*
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
 */

@media (min-width: 1025px) and (max-width: 1280px) {
	.hide-mobile {
		display: none;
		visibility: hidden;
	}

}

/*
 ##Device = Tablets, Ipads (portrait)
 ##Screen = B/w 768px to 1024px
 */

@media (min-width: 768px) and (max-width: 1024px) {
	.hide-mobile {
		display: none;
		visibility: hidden;
	}

	.masthead.video {

		height: 470px !important;
	}
	#videotap{
	    top: 60px;
	}

}

/*
 ##Device = Tablets, Ipads (landscape)
 ##Screen = B/w 768px to 1024px
 */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.slick-prev, .slick-next{
		display: none !important;
	}
	.hide-mobile {
		display: none;
		visibility: hidden;
	}
	.intro-text {
		display: none;
	}
	.masthead.video {

		height: 470px !important;
	}
	#videotap{
	    top: 60px;
	}
}

/*
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
 */

@media (min-width: 481px) and (max-width: 767px) {
	.slick-prev, .slick-next{
		display: none !important;
	}
	.hide-mobile {
		display: none;
		visibility: hidden;
	}
	.masthead.video {

		height: 290px !important;
	}

	.intro-text {
		display: none;
	}
	#videotap{
	    top: 90px;
	}
	
	.tap-info {
		text-align: center !important;
	}
	
}

/*
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
 */

@media (min-width: 320px) and (max-width: 480px) {
	.slick-prev, .slick-next{
		display: none !important;
	}
	.hide-mobile {
		display: none;
		visibility: hidden;
	}
	.intro-text {
		display: none;
	}
	.masthead.video {

		height: 290px !important;
	}
	
	#videotap{
	    top: 90px;
	}
	
	.tap-info{
		text-align: center !important;
	}
	.menu-link{
		width:60%;
		margin-top:10px;
	}
}
.user-link {
	color: white;
}
.info-login{
	color:red;
}
.container-menu{
	display: none;
}
#ifrupload{
	display:none;
}
/* .menu-docs{
	display:none;
}
.menu-parent{
	display:none;
} */
#quienessomos{
	padding-bottom: 20px;
}
.modal-content{
	background-image: url("../img/bgwood.jpg") !important;
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.beer-carrousel{
	cursor:pointer;
}
.beer-carrousel img{
	max-width: 80%;
    height: auto;
    /* margin: 0 10%; */
}
.mobile-center{
	text-align: center!important;
}
.slick-prev, .slick-next{
	display: none !important;
}
.beer-modal img{
	width: 100%;
}
.menu-link{
	border-radius: 50% !important;
	font-size: 100px;
}